.myDiv{
    //display: none;
    //display: flex !important;
}

.error{
    background-color: #ff6242;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh
}

#attributes{
    display: flex;
}
