.error{
    //background-color: #ff6242;
    //background-color: #ff9999;
    color: red;

    //background-image: url('https://i.imgur.com/Z8q7ww7.png'); //warning
    //background-image: url('../img/error-icon.png');
    //background-repeat: no-repeat;
    //background-image: url('https://i.imgur.com/GnyDvKN.png'); //error
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh
}
